
<div class="select-section">

  <div class="select-container">

    <label for="selection">Selecione um valor</label>
    <select id="selection" (change)="trocarValor($event)">

      <option value="um">Um</option>
      <option value="dois">Dois</option>
      <option value="tres">Três</option>

    </select>

  </div>

  <div class="selected-item" [ngSwitch]="itemSelecionado">
    <p *ngSwitchCase="'um'">Você selecionou um</p>
    <p *ngSwitchCase="'dois'">Você selecionou dois</p>
    <p *ngSwitchCase="'tres'">Você selecionou tres</p>
  </div>
</div>

